body{
    background-color: #202124;
}

#noinet{
    display: block;
    width: 62px;
    height: 50px;
    background-image: url("../images/NoSignal.png");
    background-repeat: no-repeat;
    margin: 30px auto;
    padding: 30px 0px 30px 0px;
}

h1{
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    font-size: 24pt;
    text-align: center;
    color: #FFFFFF;
}