@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}
.site-title {
    margin: 0;
    font-size: 24px;
    white-space: nowrap;
    }
.logo-container, .spacer {
    display: flex;
    align-items: center;
    gap: 15px;
}
.navbar {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: white;
}
.logo-side img {
    display: block;
}
.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
}
.link-container a {
    text-decoration: none;
    color: #007bff;
    font-size: 19px;
    transition: 0.3s;
}
.link-container a:hover {
    color: #0056b3;
}