@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}
.site-title {
    margin: 0;
    font-size: 24px;
    white-space: nowrap;
    }
.logo-container, .spacer {
    display: flex;
    align-items: center;
    gap: 15px;
}
.navbar {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: white;
}
.logo-side img {
    display: block;
}