@font-face {
    font-family: Playfair;
    src: url(fonts/PlayfairDisplay-Regular.ttf);
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}

* {
    margin: 0;
    font-family: Playfair;
}

body {
    background-image: url(img/bg-texture.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.header {
    display: block;
    width: 100%;
}

.header>img {
    display: block;
    margin: auto;
    max-height: 250px;
}

.divider {
    background-color: white;
    height: 5px;
}

.main {
    display: block;
    color: red;
}

.triangle-wrapper {
    display: block;
    transform: rotate(-90deg);
    width: 650px;
    margin: auto;
    color: red;
    font-size: 1.15em;
    margin-top: 50px;
}

.triangle-wrapper>span {
    display: block;
}

.triangle-ring {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    margin-top: 40px;
}

.numeral-1 {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    margin-top: -40px;
}

.numeral-2 {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    margin-top: 40px;
    z-index: 0;
}

.codepages {
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    gap: 150px;
    z-index: 100;
}

.codepages>img {
    display: inline-block;
    opacity: 0.5;
    pointer-events: none;
}

.numerals {
    display: block;
    text-align: center;
    color: white;
    font-size: 5em;
    margin-top: -150px;
    opacity: 1;
}

.PTAG.tria {
    position: absolute;
    text-align: center;
    width: 100%;
}

.triangle-wrapper>span>.PTAG {
    font-size: 0.8em;
}

.PTAG.numer {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: -20px;
}

.header>.PTAG {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    color: red;
    margin-top: -20px;
    font-size: 0.8em;
}