@font-face {
    font-family: 'Geizer';
    src: url(fonts/Geizer.otf) format('opentype');
}

@font-face {
    font-family: 'Butler-Regular';
    src: url(fonts/Butler_Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Cormorant-Garamond-Medium';
    src: url(fonts/CormorantGaramond-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Cormorant-Garamond-Italic';
    src: url(fonts/CormorantGaramond-Italic.ttf) format('truetype');
}

body::after {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('img/background.png');
    background-repeat: repeat;
    opacity: 0.7;
    pointer-events: none;
    z-index: -1;
}

body {
    position: relative;
    background-color: #000;
    padding: 40px 20px;
    color: #e0e0e0;
    text-align: center;
    z-index: 1;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 110px;
    margin-bottom: 10px;
}

.skull-image img {
    height: 300px;
    max-height: 300px;
    margin-left: 90px;
    width: auto;
    display: block;
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #e0e0e0;
}

.title-row {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 8px;
}

.title-row h1 {
    font-family: 'Geizer', serif;
    font-size: 90px;
    margin: 0;
    color: #c7bba9;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
}

.book-icon {
    height: 100px;
    max-height: 100px;
    width: auto;
}

.text-section h2 {
    font-family: 'Butler-Regular', serif;
    font-size: 30px;
    font-weight: normal;
    color: #7e766b;
    text-align: left;
    margin-top: -20px;
}

blockquote {
    font-style: italic;
    text-align: center;
    font-size: 28px;
    margin: 10px 0 8px 0;
    line-height: 1.2;
    color: #c7bba9;
    align-self: flex-start;
    padding-top: 20px;
    padding-left: 40px;
    font-family: Cormorant-Garamond-Italic, serif;
}

cite {
    display: block;
    text-align: left;
    font-size: 18px;
    margin-left: 10px;
    color: #999;
    font-style: normal;
    padding-left: 280px;
    font-family: Cormorant-Garamond-Medium, serif;
}

.separator {
    font-size: 40px;
    color: #c6bba9;
    text-align: center;
    margin: 5px auto 0 auto;
    max-width: 1200px;
    white-space: nowrap;
    overflow: hidden;
}

#WikiLinks {
    max-width: 1200px;
    margin: 20px auto 0;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
    color: #3c714e;
    text-align: left;
}

#WikiLinks ul li{
    display: block;
    padding: 5px 0px;
}

#WikiLinks em {
    color: #857c6b;
}

#WikiLinks ul li a{
    color: #cbb8b7;
    text-decoration: underline;
}

.visited{
    color: #7656ff !important;
}

#WikiLinks ul li a:hover{
    text-decoration: none;
}