body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#warning{
    display: block;
    background-image: url("images/shutdown.png");
    width: 736px;
    height: 553px;

}